.navbar-section {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 0px;
  z-index: 10;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid rgb(207, 205, 205);
}
.navbar-promotions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}

.navbar-promotions p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffff;
  font-size: 9px;
  font-weight: 600;
  line-height: 1.65;
  letter-spacing: 0.2em;
  margin-bottom: 0px;
  padding: 8px;
}
.teghese-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 120px;
  text-align: center;
  color: black;
  cursor: pointer;
  margin: 16px 0px;
}
.logo-link {
  color: black;
}
.navbar-section-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-section-items {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.6px;
  gap: 90px;
  cursor: pointer;
  color: white;
  margin-bottom: 14px;
}
.menu-hr {
  margin-top: 1px;
  height: 1px;
  border: none;
  border-radius: 10px;
  background: #ee1212;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar-section-items li {
  transition: transform 0.3s ease-in-out;
}
.navbar-section-items li:hover {
  transform: translateY(-1px);
}

.navbar-section-items li:hover .menu-hr {
  transform: scaleX(1);
}

.navbar-icons {
  position: absolute;
  right: 30px;
  gap: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-bag-count {
  position: absolute;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -17px;
  right: -10px;
  border-radius: 11px;
  font-size: 10px;
  background-color: #ee1212;
  color: white;
}
.navbar-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftside-icons {
  position: absolute;
  left: 30px;
  gap: 30px;
  display: flex;
  font-size: 11px;
  justify-content: center;
  align-items: center;
}
.menu-icon {
  display: none;
  cursor: pointer;
}
.search-icon {
  cursor: pointer;
}
.nav-search-box {
  /* position: absolute; */
  align-items: center;
  right: -100%;
  width: 50%;
  height: 100%;
  display: flex;
  padding: 0 30px;
  transition: 0.5s ease-in-out;
}
.nav-search-box input {
  width: 50%;
  border: none;
  outline: none;
  height: 50px;
  font-size: 16px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.animated-text {
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;
}

.animated-text.fade-in {
  opacity: 1;
}

.slide-up {
  transition: transform 1s ease, height 1s ease, opacity 0.5s ease;
  transform: translateY(-100%);
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.slide-down {
  transition: transform 200ms ease, height 200ms ease, opacity 0.5s ease;
  transform: translateY(0);
  height: auto;
  opacity: 1;
}
@media (max-width: 800px) {
  .menu-icon {
    display: block;
    z-index: 10;
  }
  .hide {
    display: none;
  }
  .navbar-section-items {
    display: none;
  }
  .navbar-section-items.open {
    gap: 20px;
    transition: 0.5s ease-in-out;
    font-size: 12px;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 40px;
  }
  .menu-hr {
    display: none;
  }
}
