.dropdown-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
  padding: 50px 150px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  z-index: 1000;
  top: 110px;
  left: 0;
  width: 100%;
  background-color: white;
}
.transitioning {
  opacity: 0;
}
.dropdown-section li {
  display: flex;
  list-style: none;
  letter-spacing: 1.65px;
  line-height: 30px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.7;
  padding: 0px 10px;
}
.dropdown-section li:hover {
  opacity: 1;
  color: red;
}
.dropdown-section-images {
  display: flex;
  /* width: 160px; */
  gap: 50px;
  margin-right: 80px;
}
.dropdown-section-images img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}
@media (max-width: 1084px) {
  .dropdown-section {
    padding: 70px;
  }
}
