.login-signup {
  padding-top: 70px;
  width: 100%;
}
.login-signup-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 610px;
  background: white;
  margin: auto;
  padding: 0px 40px;
}
.login-signup-container h1 {
  font-size: 22px;
  display: flex;
  margin: 10px 0px;
  justify-content: center;
  align-items: center;
  color: #5c5c5c;
}
.login-signup-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}
.login-signup-fields form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-signup-fields form div {
  font-size: 9px;
  color: rgb(220, 47, 47);
}
.login-signup-fields input {
  height: 40px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  font-size: 12px;
  color: #5c5c5c;
}
.login-signup-fields input:focus {
  border-color: rgb(220, 47, 47, 0.7);
}
.login-signup-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  margin-top: 30px;
  border: none;
  font-size: 9px;
  font-weight: 500;
  cursor: pointer;
  padding: 20px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.loginsignup-login {
  margin-top: 20px;
  font-size: 11px;
}
.loginsignup-cta {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 11px;
}
.loginsignup-login span {
  color: #dc2f2f;
  font-weight: 600;
  cursor: pointer;
}
.loginsignup-agree {
  display: flex;
  color: #5c5c5c;
  font-size: 12px;
  gap: 20px;
  font-weight: 500;
  align-items: center;
  margin-top: 20px;
}
.login-input-box:hover {
  cursor: pointer;
}
