.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  gap: 24px;
}
.breadcrumb-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
.breadcrumb-item-link {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
