.customer-feedback-card {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 24px;
  margin: auto 0;
  cursor: grab;
  border: 1px solid #d7dae4;
  border-radius: 6px;
  flex: 0 0 auto;
  width: 300px;
  overflow: hidden;
  gap: 15px;
  height: 300px;
}
.customer-feedback-card-name {
  gap: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.feedback-title {
  font-size: 16px;
}
.feedback-description {
  display: flex;
  font-size: 13px;
  height: 200px;
  /* line-height: 0.2rem; */
}
.feedback-item {
  /* padding-top: 50px; */
  display: flex;
  align-items: center;
  gap: 20px;
}
.feedback-item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.feedback-item p {
  color: #6d7588;
  font-size: 12px;
}
@media (max-width: 800px) {
  .customer-feedback-card {
    width: 250px;
  }
  .customer-feedback-card-name{
    gap: 5px
  }
}
