.lookbook {
  background-color: #faf9f9;
  display: flex;
  flex-direction: column;
  padding: 60px;
  gap: 30px;
}
.lookbook-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-bottom: 50px;
  line-height: 22px;
}
.lookbook-description h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
}
.lookbook-description h2 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.lookbook-description h3 {
  width: 700px;
  font-weight: 400;
  font-size: 16px;
}
.lookbook-main {
  display: flex;
}
.lookbook-section1 img {
  object-fit: cover;
  width: 500px;
  height: 600px;
}
.lookbook-section2 img {
  object-fit: cover;
  height: 350px;
  width: 350px;
}
.lookbook-section2 h1 {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
.lookbook-section2 p {
  font-size: 14px;
  line-height: 18px;
  width: 460px;
}
/* .lookbook-section2 button {
  border: 1px solid transparent;
  letter-spacing: 0.2em;
  padding: 20px;
  width: 200px;
  margin-bottom: 30px;
  cursor: pointer;
  background-color: rgb(22, 22, 22);
  font-size: 11px;
  color: white;
  text-transform: uppercase;
}
.lookbook-section2 button:hover {
  font-weight: 500;
  border: 1px solid;
  background-color: transparent;
  color: black;
} */
.lookbook-section2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}
.lookbook-section1 {
  display: flex;
  flex: 1;
}
@media (max-width: 1180px) {
  .lookbook-main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lookbook-section2 button{
    margin-bottom: 0px;
  }
  .lookbook-section2 {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
  }
  .lookbook-section2 img {
    display: none;
  }
  .lookbook-section1 {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .lookbook-description h3 {
    font-size: 14px;
  }
}
@media (max-width: 720px) {
  .lookbook-description h3 {
    width: 400px;
  }
}
